fastapi
uvicorn
SQLAlchemy
mysqlclient # Ou asyncmy, se preferir um driver assíncrono
python-dotenv
alembic
passlib[bcrypt] # Para hash de senhas
python-jose[cryptography] # Para JWT/Autenticação (vamos usar mais tarde)